[submodule "source/libraries/panels"]
	path = source/libraries/panels
	url = https://cadin@github.com/cadin/panels.git
[submodule "source/libraries/ldtk"]
	path = libraries
	url = https://github.com/NicMagnier/PlaydateLDtkImporter.git
